:root {
    --lightest: #EDF2F4;
}

.App {
 color: var(--lightest);
 text-align: center;
}

.App a {
 text-decoration: none;
 color: #8D99AE;
}

.App footer {
 margin: 30px 0px;
text-align: center;
}

.App h1 {
font-size: 60px;
text-align: center;
margin: 0;
}