:root {
 --primary-light: #edf2f4;
 --primary-dark: #9aa8c0;
}

.App {
 color: var(--primary-light);
 text-align: center;
 font-family: "Ubuntu", sans-serif;
 padding: 60px 0px;
}

.App a {
 text-decoration: none;
 color: var(--primary-dark);
}

.App footer {
 margin: 30px 0px;
 text-align: center;
}

.App h1 {
 font-size: 60px;
 text-align: center;
 margin: 0;
 letter-spacing: 2px;
 text-shadow: -1px 1px rgba(237, 242, 244, 1);
 color: var(--primary-dark);
}

.App main {
 max-width: 800px;
 margin: 70px auto;
 background-color: #0e0f16;
 padding: 20px 20px 40px 20px;
 border-radius: 8px;
 border: 1px solid var(--primary-dark);
}
