.Search {
    margin-top: 30px;
}

.Search input {
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
   }

.Search input:first-child {
    width: 400px;
    margin-right: 5px;
}

.Search input:last-child:hover {
    cursor: pointer;
}