.Search {
 text-align: center;
 margin-top: 15px;
}

.Search input {
 border-radius: 5px;
 font-size: 20px;
 padding: 5px 10px;
}

.Search input:first-child {
 max-width: 600px;
 width: 100%;
 margin-right: 5px;
}

.Search input:last-child:hover {
 cursor: pointer;
}

.Search label {
 margin-bottom: 150px;
}
